<%layout("/layout/boilerplate") %>
<body>
  <br />
  <div class="row">
    <div class="col-8 offset-2">
      <h1>Edit Your information</h1>
      <form
        method="post"
        class="needs-validation"
        action="/listings/<%= listings._id %>?_method=put"
        novalidate
      >
        <div class="mb-3">
          <label for="title" >Change Title</label><br />
          <input
            class="form-control"
            type="text"
            name="newData[title]"
            id=""
            placeholder="Enter your title"
            value="<%= listings.title %>"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label><br />
          <textarea
            class="form-control"
            type="text"
            name="newData[description]"
            id=""
            required
          >
 <%= listings.description %></textarea
          >
          <div class="invalid-feedback">
            pleace give a substaibel description
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="mb-3">
              <label for="price" class="form-label">Price</label><br />
              <input
                class="form-control"
                type="number"
                name="newData[price]"
                id=""
                placeholder="Enter your title price"
                value="<%= listings.price %>"
                required
              />
              <div class="invalid-feedback">Please Enter a valid price.</div>
            </div>
          </div>

          <div class="col-8">
            <div class="mb-3">
              <label for="text" class="form-label"> Country</label><br />
              <input
                class="form-control"
                type="text"
                name="newData[country]"
                id=""
                placeholder="Enter your country"
                value="<%= listings.country%>"
                required
              />
              <div class="invalid-feedback">Please Enter a country.</div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="location">location</label><br />
          <input
            class="form-control"
            type="text"
            name="newData[location]"
            id=""
            placeholder="Enter your location"
            value="<%= listings.location %>"
            required
          />
          <div class="invalid-feedback">Please provide a valid city.</div>
        </div>

        <button class="form-edit-btn">Save edit</button>
      </form>
      <br />
    </div>
  </div>
</body>
